[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"
requests = "*"
python-dotenv = "*"
config = "*"
flask-oauthlib = "*"
authlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
